argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
boto3==1.35.76
botocore==1.35.76
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
dj-database-url==2.3.0
Django==5.1.1
django-otp==1.5.4
django-resized==1.0.3
django-storages==1.14.4
gunicorn==23.0.0
idna==3.10
jmespath==1.0.1
packaging==24.2
pillow==11.0.0
psycopg2==2.9.10
pycparser==2.22
pyotp==2.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-http-client==3.3.7
requests==2.32.3
s3transfer==0.10.4
sendgrid==6.11.0
six==1.17.0
sqlparse==0.5.1
starkbank-ecdsa==2.2.0
stripe==11.1.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
