{% extends 'layouts/base.html' %}
{% load static %}

{% block document_title %}
Reset Password | FNTN
{% endblock %}

{% block inline_css %}
<style>
  .form>p>label {
    margin-bottom: var(--gap-narrow);
  }

  :where(.form>p>input, .form>p>textarea) {
    width: 100%;
  }

  :where(.form>ul>li) {
    padding-inline: var(--padding-inline-default);
  }
</style>
{% endblock %}

{% block content %}
<main id="main-content"
      container="main">

  <h1 class="heading">Reset Your Password</h1>
  <p class="subheading">Fill out the form below to change your account password.</p>

  <form method="post"
        class="form"
        flex="col">

    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit"
            class="">Reset Password</button>
  </form>

  {% if form.errors %}
  <ul role="list">
    {% for field, errors in form.errors.items %}
    {% for error in errors %}
    <li>{{ error }}</li>
    {% endfor %}
    {% endfor %}
  </ul>
  {% endif %}

</main>
{% endblock %}