:where([container="main"]) {
    --_padding-inline: calc(var(--padding-block-default) / 2);
    --_max-width: 80rem;

    width: min(100% - var(--_padding-inline), var(--_max-width));
    padding-block: var(--_padding-block);
    min-height: var(--container-min-height);
    margin-inline: auto;
}

:where(#main-content) {
    padding-block: var(--padding-block-extrawide);
}