.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

// ---------------------------------------- //

.balance {
    text-wrap: balance;
}

// ---------------------------------------- //

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

// ---------------------------------------- //

.italic {
    font-style: italic;
}

// ---------------------------------------- //

.strikethrough {
    text-decoration: line-through;
}