/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */

/* ========================= */
/* #region utilities/spacing */
/* ========================= */

/* ------------------------------- */

/* -------------- */
/* #region margin */
/* -------------- */

.margin-extranarrow {
    margin: var();
}

.margin-narrow {
    margin: var();
}

.margin-regular {
    margin: var();
}

.margin-wide {
    margin: var();
}

.margin-extrawide {
    margin: var();
}

.margin-inline-extranarrow {
    margin-inline: var();
}

.margin-inline-narrow {
    margin-inline: var();
}

.margin-inline-regular {
    margin-inline: var();
}

.margin-inline-wide {
    margin-inline: var();
}

.margin-inline-extrawide {
    margin-inline: var();
}

.margin-inline-start-extranarrow {
    margin-inline-start: var();
}

.margin-inline-start-narrow {
    margin-inline-start: var();
}

.margin-inline-start-regular {
    margin-inline-start: var();
}

.margin-inline-start-wide {
    margin-inline-start: var();
}

.margin-inline-start-extrawide {
    margin-inline-start: var();
}

.margin-inline-end-extranarrow {
    margin-inline-end: var();
}

.margin-inline-end-narrow {
    margin-inline-end: var();
}

.margin-inline-end-regular {
    margin-inline-end: var();
}

.margin-inline-end-wide {
    margin-inline-end: var();
}

.margin-inline-end-extrawide {
    margin-inline-end: var();
}

.margin-block-extranarrow {
    margin-block: var();
}

.margin-block-narrow {
    margin-block: var();
}

.margin-block-regular {
    margin-block: var();
}

.margin-block-wide {
    margin-block: var();
}

.margin-block-extrawide {
    margin-block: var();
}

.margin-block-start-extranarrow {
    margin-block-start: var();
}

.margin-block-start-narrow {
    margin-block-start: var();
}

.margin-block-start-regular {
    margin-block-start: var();
}

.margin-block-start-wide {
    margin-block-start: var();
}

.margin-block-start-extrawide {
    margin-block-start: var();
}

.margin-block-end-extranarrow {
    margin-block-end: var();
}

.margin-block-end-narrow {
    margin-block-end: var();
}

.margin-block-end-regular {
    margin-block-end: var();
}

.margin-block-end-wide {
    margin-block-end: var();
}

.margin-block-end-extrawide {
    margin-block-end: var();
}

/* -------------- */
/* #endregion     */
/* -------------- */

/* ------------------------------- */

/* --------------- */
/* #region padding */
/* --------------- */

.padding-extranarrow {
    padding: var();
}

.padding-narrow {
    padding: var();
}

.padding-regular {
    padding: var();
}

.padding-wide {
    padding: var();
}

.padding-extrawide {
    padding: var();
}

.padding-inline-extranarrow {
    padding-inline: var();
}

.padding-inline-narrow {
    padding-inline: var();
}

.padding-inline-regular {
    padding-inline: var();
}

.padding-inline-wide {
    padding-inline: var();
}

.padding-inline-extrawide {
    padding-inline: var();
}

.padding-inline-start-extranarrow {
    padding-inline-start: var();
}

.padding-inline-start-narrow {
    padding-inline-start: var();
}

.padding-inline-start-regular {
    padding-inline-start: var();
}

.padding-inline-start-wide {
    padding-inline-start: var();
}

.padding-inline-start-extrawide {
    padding-inline-start: var();
}

.padding-inline-end-extranarrow {
    padding-inline-end: var();
}

.padding-inline-end-narrow {
    padding-inline-end: var();
}

.padding-inline-end-regular {
    padding-inline-end: var();
}

.padding-inline-end-wide {
    padding-inline-end: var();
}

.padding-inline-end-extrawide {
    padding-inline-end: var();
}

.padding-block-extranarrow {
    padding-block: var();
}

.padding-block-narrow {
    padding-block: var();
}

.padding-block-regular {
    padding-block: var();
}

.padding-block-wide {
    padding-block: var();
}

.padding-block-extrawide {
    padding-block: var();
}

.padding-block-start-extranarrow {
    padding-block-start: var();
}

.padding-block-start-narrow {
    padding-block-start: var();
}

.padding-block-start-regular {
    padding-block-start: var();
}

.padding-block-start-wide {
    padding-block-start: var();
}

.padding-block-start-extrawide {
    padding-block-start: var();
}

.padding-block-end-extranarrow {
    padding-block-end: var();
}

.padding-block-end-narrow {
    padding-block-end: var();
}

.padding-block-end-regular {
    padding-block-end: var();
}

.padding-block-end-wide {
    padding-block-end: var();
}

.padding-block-end-extrawide {
    padding-block-end: var();
}

/* --------------- */
/* #endregion      */
/* --------------- */

/* ------------------------------- */

/* ========================= */
/* #endregion                */
/* ========================= */

/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */