/* ---------------------------- */
/* ---------------------------- */
/* ---------------------------- */

/* ============================ */
/* #region components/cart-item */
/* ============================ */

.cart_item {
    --_gap: var(--cart-item-gap);
    grid-template-columns: var(--cart-item-layout);
    max-height: var(--cart-item-max-height);
}

.cart_item_image {
    width: var(--cart-item-image-width);
    aspect-ratio: 1 / 1;

    object-fit: contain;
    object-position: center;

    max-height: var(--cart-item-image-max-height);

    grid-column: 1;
}

.cart_item_details {
    --_gap: var(--cart-item-details-gap);
    grid-column: 2 / span 2;
}

:where(.cart_item_name, .cart_item_name > a) {
    max-width: 65ch;

    font-weight: var(--cart-item-name-font-weight);
    line-height: var(--cart-item-name-line-height);
    text-decoration: none;
}

.cart_item_price {
    font-weight: var(--cart-item-price-font-weight);
}

.cart_quantity_form {
    --_gap: var(--cart-quantity-form-gap);
    height: max-content;

    grid-column: 1;
}

.cart_quantity_input {
    width: 100%;
    max-width: 2.5rem;
    aspect-ratio: 1 / 1;

    background: var(--cart-quantity-input-bg-default);
    color: var(--cart-quantity-input-text-default);

    padding-block: var(--cart-quantity-input-padding-block);
    padding-inline: var(--cart-quantity-input-padding-inline);

    border: var(--cart-quantity-input-border-default);

    text-align: center;
}

.cart_quantity_button {
    background: var(--cart-quantity-button-bg-default);
    color: var(--cart-quantity-button-text-default);

    border: var(--cart-quantity-button-border-default);
}

.cart_delete_form {
    width: max-content;
    height: 100%;
    max-height: 2.5rem;

    grid-column: 2;
}

.cart_button_delete {
    height: 100%;
    max-height: 2.5rem;
    aspect-ratio: 1 / 1;

    background: var(--cart-delete-bg-default);
    color: var(--cart-delete-text-default);

    border: var(--cart-delete-border-default);
}

:where(.cart_quantity_button > i, .cart_button_delete > i) {
    transform: scale(0.75);
}

@media screen and (min-width: 35em) {
    .cart_item_image {
        grid-row: 1 / span 2;
    }

    .cart_quantity_form {
        margin-top: auto;
        grid-column: 2;
    }

    .cart_delete_form {
        margin-top: auto;
        grid-column: 3;
    }
}

/* ============================ */
/* #endregion                   */
/* ============================ */

/* ---------------------------- */
/* ---------------------------- */
/* ---------------------------- */