/* ---------------------------- */
/* ---------------------------- */
/* ---------------------------- */

/* ========================= */
/* #region components/header */
/* ========================= */

.header {
    position: sticky;
    top: 0;

    background: var(--header-bg-default);
    max-width: 100%;

    flex-direction: row;

    border-bottom: var(--header-border);

    z-index: 999;
}

.header div[container="main"] {
    --_gap: var(--gap-ultrawide);
}

.logo {
    width: 100%;
    max-width: max-content;

    background: transparent;
    color: var(--logo-text-default);

    font-family: var(--logo-font-family);
    font-size: var(--logo-font-size);
    font-weight: var(--logo-font-weight);
    font-style: italic;

    line-height: var(--logo-line-height);

    text-decoration: none;

    padding-block: var(--logo-padding-block);
    padding-inline: var(--logo-padding-inline);

    align-self: center;
}

.primary_nav {
    width: 100%;
    height: 100%;
}

.nav_menus {
    width: 100%;
    flex-direction: row;

    justify-content: space-between;
}

.nav_list {
    width: max-content;
    height: 100%;
}

.nav_link {
    --_gap: var(--nav-link-gap);
    --_color: var(--nav-link-text-default);

    display: flex;

    max-width: max-content;
    height: 100%;

    background: var(--nav-link-bg-default);
    color: var(--_color);

    padding-block: var(--nav-link-padding-block);
    padding-inline: var(--nav-link-padding-inline);

    line-height: var(--nav-link-line-height);

    text-decoration: none;

    cursor: pointer;

    align-items: center;
    justify-content: center;
}

.nav_cart,
.mobile_nav_cart {
    color: var(--nav-cart-text-default);

    position: relative;
}

.nav_cart_counter {
    position: absolute;
    top: var(--margin-block-extranarrow);
    right: 0;

    width: 1.5rem;
    aspect-ratio: 1 /1;

    background: var(--nav-cart-counter-bg-default);
    color: var(--nav-cart-counter-text-default);

    align-items: center;
    justify-content: center;

    border-radius: 100%;
}

.mobile_nav_cart {
    display: none;
}

.mobile_nav_cart > .nav_cart_counter {
    top: var(--nav-cart-counter-margin-block);
    text-align: center;
}

#header-nav .nav_link {
    --_color: var(--nav-link-text-inverse);
}

.dropdown {
    position: relative;
}

.dropdown_toggle {}


.dropdown_menu.open {
    display: block;

    position: absolute;
    top: 100;
    left: var(--dropdown-link-padding-inline);

    width: max-content;
    height: max-content;

    background: var(--dropdown-menu-bg-default);
    color: var(--dropdown-menu-text-default);

    padding-block: var(--dropdown-menu-padding-block);
    padding-inline: var(--dropdown-menu-padding-inline);

    border: var(--dropdown-menu-border-default);
}

.dropdown_menu {
    display: none;
}

/* .dropdown_menu.open {
    display: block;
} */

.dropdown_menu#util-dropdown {
    left: unset;
    right: var(--dropdown-link-padding-inline);
}

.dropdown_list {}

.dropdown_link {
    --_gap: var(--dropdown-link-gap);

    max-width: 65ch;

    background: var(--dropdown-link-bg-default);
    color: var(--dropdown-link-text-default);

    padding-block: var(--dropdown-link-padding-block);
    padding-inline: var(--dropdown-link-padding-inline);

    text-decoration: none;
}

:where(.dropdown_link > :first-child) {
    font-weight: var(--dropdown-link-title-font-weight);
}

.nav_toggle {
    display: none;
}

@media screen and (max-width: 959px) {
    .header > div[container="main"] {
        position: relative;
    }

    .nav_toggle {
        display: flex;

        width: max-content;
        height: 100%;
        max-height: 60.8px;

        aspect-ratio: 1 / 1;

        position: absolute;
        top: 0;

        right: var(--padding-inline-default);
    }

    .primary_nav {
        width: 100%;
        max-width: 20rem;

        height: 100vh;

        position: absolute;
        top: 0;
        right: -0.25rem;

        background: var(--nav-link-bg-default);
    }

    .nav_menus {
        --_gap: 0;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 62.8px;
        /* temp pixel hardcode */
    }

    .nav_list {
        --_gap: 0;
        width: auto;
        height: max-content;
        flex-direction: column;
    }

    .nav_list > li {
        width: 100%;
    }

    .nav_link {
        display: flex;

        align-items: center;
        justify-content: center;

        width: 100%;
        max-width: initial;

        color: var(--nav-link-text-default);

        text-align: center;
    }

    .nav_cart {
        display: none;
    }

    .mobile_nav_cart {
        width: max-content;
        margin-left: auto;
        margin-right: 5rem;
    }

    .primary_nav[aria-expanded="true"] {
        display: flex;
    }

    .primary_nav[aria-expanded="false"] {
        display: none;
    }

    .dropdown_menu.open {
        width: 100%;
        max-width: 100%;
        max-height: 24rem;
        left: initial;
        border: 0;
        z-index: 1;
        overflow-y: scroll;
    }

    .dropdown_menu#util-dropdown {
        right: initial;
    }
}

/* ========================= */
/* #endregion                */
/* ========================= */

/* ---------------------------- */
/* ---------------------------- */
/* ---------------------------- */