.cart_section {
    padding-block: var(--padding-block-default);
    padding-inline: var(--padding-inline-default);
}

.cart_header {
    border-bottom: var(--border-width-default) var(--border-style-default) var(--neutral-200);
}

.cart_section h1 {
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-bold);
}

.cart_section h2 {
    font-family: var(--font-family-heading);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-bold);
}

.cart_body {
    min-height: 60vh;
}

.cart_discounts {
    border-block: var(--border-width-default) var(--border-style-default) var(--neutral-200);
}

.cart_section > .form {
    max-width: 24rem;
    margin-inline: 0;
    margin-left: auto;
}

.cart_detail_item {
    width: max-content;
    margin-left: auto;
    text-align: right;
}

:where(.cart_detail_item > span:first-child) {
    font-weight: var(--font-weight-regular);
}

:where(.cart_detail_item > span:last-child) {
    font-weight: var(--font-weight-bold);
}