/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */

/* ======================= */
/* #region abstracts/sizes */
/* ======================= */

:root {

    /* ---------------------------- */

    /* -------------- */
    /* #region global */
    /* -------------- */

    /* ---------------------------- */

    /* -------------- */
    /* #region static */
    /* -------------- */

    --size-static-4: 0.125rem;
    --size-static-8: 0.25rem;
    --size-static-12: 0.5rem;
    --size-static-16: 0.75rem;
    --size-static-20: 1rem;
    --size-static-24: 1.25rem;
    --size-static-28: 1.5rem;
    --size-static-32: 2rem;
    --size-static-36: 2.5rem;

    /* -------------- */
    /* #endregion     */
    /* -------------- */

    /* ---------------------------- */

    /* ------------- */
    /* #region fluid */
    /* ------------- */

    --size-fluid-4: clamp(0.25rem, 0.179rem + 0.357vw, 0.5rem);
    --size-fluid-8: clamp(0.5rem, 0.429rem + 0.357vw, 0.75rem);
    --size-fluid-12: clamp(0.75rem, 0.679rem + 0.357vw, 1rem);
    --size-fluid-16: clamp(1rem, 0.929rem + 0.357vw, 1.25rem);
    --size-fluid-20: clamp(1.25rem, 1.107rem + 0.714vw, 1.75rem);
    --size-fluid-32: clamp(2.25rem, 1.982rem + 0.714vw, 2.625rem);
    --size-fluid-36: clamp(2.5rem, 2.214rem + 1.429vw, 3.5rem);

    /* ------------- */
    /* #endregion    */
    /* ------------- */

    /* ---------------------------- */

    /* -------------- */
    /* #endregion     */
    /* -------------- */

    /* ---------------------------- */
    /* ---------------------------- */

    /* ------------------ */
    /* #region contextual */
    /* ------------------ */

    /* ---------------------------- */

    /* ------------------ */
    /* #endregion         */
    /* ------------------ */

    /* ---------------------------- */
}

/* ======================= */
/* #endregion              */
/* ======================= */

/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */