/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */

/* ================== */
/* #region base/reset */
/* ================== */

:where(*, *::before, *::after) {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

:where(html, html:focus-within) {
    scroll-behavior: smooth;
}

:where(img) {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 0.75em;
}

:where(picture, svg) {
    display: block;
    max-width: 100%;
}

:where(body) {
    min-height: 100vh;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:where(ul[role="list"]) {
    list-style: none;
}

/* ================== */
/* #endregion         */
/* ================== */

/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */