:root {

    // ---------------------------------------- //

    --_anton: "Anton", display;
    --_protest-strike: "Protest Strike", display;
    --_noto-sans: "Noto Sans", sans;
    --_noto-serif: "Noto Serif", serif;

    // ---------------------------------------- //

    --font-size-static-100: 0.775rem;
    --font-size-static-200: 0.85rem;
    --font-size-static-300: 0.925rem;
    --font-size-static-400: 1rem;
    --font-size-static-500: 1.25rem;
    --font-size-static-600: 1.75rem;
    --font-size-static-700: 2.25rem;
    --font-size-static-800: 2.75rem;
    --font-size-static-900: 3.5rem;

    // ---------------------------------------- //

    --font-weight-100: 100;
    --font-weight-200: 200;
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-weight-800: 800;
    --font-weight-900: 900;

    // ---------------------------------------- //

    --line-height-100: 1.00;
    --line-height-200: 1.1;
    --line-height-300: 1.4;
    --line-height-400: 1.6;
    --line-height-600: 2.5;
    --line-height-800: 3.5;

    // ---------------------------------------- //

    --letter-spacing-100: -0.03rem;
    --letter-spacing-200: -0.02rem;
    --letter-spacing-400: 0rem;
    --letter-spacing-700: 0.02rem;
    --letter-spacing-900: 0.03rem;

    // ---------------------------------------- //

    --title-stack: var(--_anton), display;
    --heading-stack: var(--_noto-sans), sans;
    --body-stack: var(--_noto-serif), serif;

    // ---------------------------------------- //

}