.banner {
    --_gap: var(--banner-gap);
    padding-top: var(--banner-padding-block);
    padding-inline: var(--banner-padding-inline);
}

.banner_title {
    max-width: var(--banner-title-max-width);

    font-size: var(--banner-title-font-size);
    font-weight: var(--banner-title-font-weight);
    line-height: var(--banner-title-line-height);
}

.banner_description {
    max-width: var(--banner-description-max-width);
}

.banner_description + p {
    max-width: var(--banner-description-max-width);
    text-align: justify;
}