.product_card {
    --_grid-gap: var(--product-card-gap);

    min-width: var(--product-card-min-width);

    background: var(--product-card-background-default);
    color: var(--product-card-text-default);

    padding-block: var(--product-card-padding-block);
    padding-inline: var(--product-card-padding-inline);

    border: var(--product-card-border-default);
    border-radius: var(--product-card-border-radius);

    box-shadow: var(--product-card-shadow);

    transition: var(--product-card-transition);

    position: relative;

    overflow: hidden;
}

.product_card:is(:focus-within) {
    border: var(--product-card-border-interactive);
}

.product_card_link {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: 1;
}

.product_card_image {
    width: var(--product-card-image-width);
    aspect-ratio: 1 / 1;

    object-fit: contain;
    object-position: center;

    margin-inline: auto;
}

.product_card_text {
    --_flow-spacer: var(--product-card-text-gap);
    width: 100%;

    align-content: space-between;
}

.product_card_name {
    min-height: var(--product-card-name-min-height);

    font-size: var(--product-card-name-font-size);
    font-weight: var(--product-card-name-font-weight);
    line-height: var(--product-card-name-line-height);

    padding-block: var(--product-card-name-padding-block);

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    overflow: hidden;
}

.product_card_price {
    --_flex-gap: var(--product-card-price-gap);

    font-size: var(--product-card-font-size);
}